
<div class="container">
<form action="/signup" method="POST" id="form-container" class='form-signin'>

   <div class="text-centered">
    <img class="mb-4" src="/images/icon-color.svg" width="150" height="150">
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

  <label for="username">Email</label>
  <input id="username" type="text" name="username" placeholder="john@example.com">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
   <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder='John Doe'>
  <br> <br>
  <label for="zip">City (ZIP)</label>
  <input id="zip" type="text" name="zip" placeholder="12345">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
</div>