<body class='new-activity-body'>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/icon-color.png" width="30" height="30" class="d-inline-block align-top" alt="">
    FitPal
  </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container">
  
  <div class="row justify-content-center">
    <form action="/new-activity" method="POST" class="activity-form form-signin">
    <div class="row justify-content-center new-activity-title">
    <h2>New Activity</h2>
  </div>
      <div class="form-group">
        <div class="col"> <label for="title">Title:</label> </div>
        <div class="col"> <input type="text" name="title" placeholder="3 Mile Run"> </div>
      </div>
      <div class="form-group">
        <div class="col"> <label for="description">Description:</label> </div>
        <div class="col"> <textarea rows="4" name="description"></textarea> </div>
      </div>

      <div class="form-group">
        <div class="col"> <label for="address">Meet Address:</label> </div>
        <div class="col"> <input type="text" name="address" placeholder="123 Brickell Ave"> </div>
      </div>

      <div class="form-group">
        <div class="col"> <label for="category">Category:</label> </div>
        <div class="col"> 
          <select name="category">
            <option value='cycling'>Cycling</option>
            <option value='run'>Running</option>
            <option value='swimming'>Swimming</option>
            <option value='weightlifting'>Weightlifting</option>
            <option value='yoga'>Yoga</option>
            <option value='other'>Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col"> <label for="date">Date:</label> </div>
        <div class="col"> <input id="date" type="datetime-local" name="date">  </div>
      </div>
       
        {{#if message}}
          <div class="error-message">{{ message }}</div>
        {{/if}}
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Log In">Create</button>
      </div>
    </form>
  </div>
<a href="/profile"><img src='/images/leftarrow.png' class='backarrow'></a>
</div>
</body>

<script>
  let today = new Date().toISOString().substr(0, 10);
  document.querySelector("#today").value = today;
</script>