<h1>Profile Page</h1>
{{#if user}}
  <div>
    <h3>{{user.username}}'s Created Activities: </h3>
    
      {{#each activities}}
        <h4>{{this.title}}</h4>
        <a href="/profile/{{this._id}}">Details</a>
      {{/each}}
    
  
    <br>
    <a href="/">Index</a>
    <br>
    <a href="new-activity">Create Activity</a>
  </div>
{{/if}}